<!DOCTYPE html>
<html>
    <% include header.ejs %>
    <body>
        <% include navbar.ejs %>
        <div class="page-header">

        </div>

        <div class="container">

        </div>
    </body>
    <% include footer.ejs %>
</html>
