<head>
    <title>NodeJS FAQ</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap3/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap3/css/doc.min.css"/>
    <link rel="stylesheet" type="text/css" href="/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css"/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
</head>