<!-- 网站首页 -->
<!DOCTYPE html>
<html>
  <% include header.ejs %>
  <style>
      .container8{
          max-width:700px;
      }
  </style>
  <body>
     <div class="main">
         <div class="container container8 span8">
             <div class="page" style="text-align:center;">
                 <img src="/images/google.jpg" height="300" title="NodeJS-FAQ" />
             </div>
             <div class="search" style="text-align:center;">
                 <form  action="/search" method="get">
                     <div class="input-group input-group-lg">
                         <input type="text" id="keyword" name="keyword" class="form-control" placeholder="有问题，就搜吧！ ">
            <span class="input-group-btn">
                <button class="btn btn-success" id="searchBtn"  type="button">搜索</button>
            </span>
                     </div>
                 </form>
             </div>
             <div class="footer">

             </div>
             <!--<div class="row">-->
                 <!--<div class="col-lg-8 col-md-8">-->
                 <!--</div>-->
                 <!--<div class="col-lg-4 col-md-4">-->
                     <!--<div class="">-->
                         <!-- 发布问题按钮-->
                         <!--<button class="btn btn-primary btn-lg">我有问题</button>-->
                         <!-- 查看为解决的问题-->
                         <!--<button class="btn btn-info btn-lg">他有问题</button>-->
                         <!-- 大家的问题 -->
                         <!--<button class="btn btn-success btn-lg">没有问题</button>-->
                     <!--</div>-->
                 <!--</div>-->
             <!--</div>-->
         </div>
     </div>


  </body>
  <% include footer.ejs %>
  <script type="text/javascript">


      $('#searchBtn').click(function (){
          var query = $.trim($('#keyword').val());
          //无搜索内容
          if(!empty(query)){
              //有搜索内容
              window.location.href = encodeURI(window.location+'search?keyword=' + query);
          }
      });

      //空值检测:用于String, Array, Object
      function empty(arg){
          var type = Object.prototype.toString.call(arg).slice(8, -1).toLowerCase();
          if(type === 'string' || 'array'){
              //alert(arg.length === 0);
              return ( arg.length === 0);
          }else{
              //不是空的
              return true;
          }
      }
  </script>
</html>
