<!-- 搜索结果 -->
<!DOCTYPE html>
<html>
<% include header.ejs %>
<body>
<% include navbar.ejs %>
<div class="main" style="margin-top: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <form  action="/search" method="get">
                    <div class="input-group input-group-lg">
                        <%if(typeof keyword !== 'undefined'){ %>
                            <input type="text" id="keyword" name="keyword" class="form-control" placeholder="有问题，就搜吧！ " value="<%= keyword %>">
                        <% }else{ %>
                            <input type="text" id="keyword" name="keyword" class="form-control" placeholder="有问题，就搜吧！ " value="">
                        <% } %>
            <span class="input-group-btn">
                <button class="btn btn-success" id="searchBtn"  type="button">搜索</button>
            </span>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-3">

            </div>

        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <% if(typeof questions !== 'undefined'){ %>
           <ul class="questionList">
               <% questions.forEach(function(question){ %>
                   <li>
                       <a href="/view/<%= question._id %>">
                           <p><span> <%- question.title %></span><span class="navbar-right"><%= question.date %></span> </p>
                       </a></li>
               <% }); %>
           </ul>
        <% } %>
    </div>
</div>


</body>
<% include footer.ejs %>
</html>
