<div class="list-search">
    <form>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="输入你能想到的、能帮解决问题的 狠狠的搜吧，相信我能！ ">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button">搜索</button>
            </span>
        </div>
    </form>
</div>